
@media screen and (max-width:700px)
{
    .title
    {
       font-size: 20px;
    }
    .you_title
    {
      font-size: 20px;
      margin-left: 10px;
      animation-duration: 0s;
    }
    .you_input
    {
      max-width: 150px ;
     left: 20px;
     margin-top: 10px;
    }
    .you_buto
    {
      left:10px;
      height: 20px;
      width: 20px;
      margin-top: -40px;
    }
    
}

h1
{
  font-size: 100px;
  font-family: 'Rye', cursive;
margin-left:250px;
color: #016e85;
}

h2
{
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FEE227;
    font-size: 70px;
    margin-left: 150px;
    animation-name: hello;
    animation-duration: 2s;
}

 @keyframes hello {
    
    
    0%
    {



      margin-left: -100px;
      color: transparent;

   
}
50%
{
    
  color:grey;
}
100%
{
    margin-left: 150px;
  color:#FEE227;  
}
 }
input
{
    position: relative;
    top:-20px;
    font-size: 50px;
    left:50px;
    background-color: rgb(193, 207, 207);
}
button
{
    position:relative;
    left: 700px;
    margin-top: -10px;
    border-radius: 100%;
   height: 50px;
   width: 50px;
   box-sizing: border-box;
   background-color: #FEE227;
    
}
body
{
    background-color: #00adbc;
}
